# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# Uploads (images)
../uploads/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
